*{
    box-sizing: border-box;
}
body{
    background-color:whitesmoke;
    padding: 10px;
}

header{
    
    background-color:#333 ;
    padding: 15px;
    margin: 10px;
    
}
header img{
    padding-left: 10%;
    
}
nav  {
    
    float: right;
    
}
 nav ul{
    position: relative;
    margin-top: -80%;
    margin-left: -40%;
    


}
#hero{
    padding-left: 12%;
    margin-top: 30px;
    padding-bottom: 30px;
}
#threeumg{
    padding-left: 12%;
    padding-bottom:30px;
}
#threeumg img{
    padding-right: 30px;

}
#bottomimg{
    padding-left: 12%;

}
#script{
    position: relative;
}

#script p{
    position: absolute;
    bottom: 40px;
    right: 182px;
    width: 37%;
    text-align: justify;
    height: 380px;
    overflow: scroll;
}
#haver{
    position: absolute;
    right: 44%;
    
}
footer{
    clear: both;
    width: 100%;
    height: 100px;
    background-color:#333 ;

}